name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Build
      run: go build -o target/go-micro-ci-daemon -v -mod=vendor

    - name: Build and push Docker images
      uses: docker/build-push-action@v1.1.0
      with:
        username: "{{secret.DOCKER_USERNAME}}"
        password: "{{secret.DOCKER_PASSWORD}}"
        registry: "alydnh"
        tags: 0.0.1,latest
        path: target
        push: true
